.form-basic, .form-acty {
  h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
  }
}

.form-acty-type {
  .ant-cascader-picker {
    float: left;
    width: 50%;
    margin-right: 30px;
  }
  .form-link {
    float: left;
    display: inline;
    padding-right: 30px;
  }
  .tip {
    clear: both;
  } 
}
.form-acty-tag {
  display: none;
}
.form-submit {
  margin-top: 100px;
  button, a {
    margin-right: 20px;
  }
}