.activity-entrance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 14px;
  padding: 0 calc((100% - 646px) / 3);
  margin-bottom: 20px;
  .entrance-item {
    width: 323px;
    height: 154px;
    background: #ccc;
    text-align: center;
    padding: 19px 0;
    .tpl-title {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .tpl-desc {
      margin-bottom: 20px;
    }
  }
}

.activity-management {
  width: 100%;
  height: 43px;
  padding: 0 17px;
  line-height: 43px;
  font-size: 14px;
  font-weight: 400;
  background: #eaeaea;
}

.search-clear {
  font-size: 12px;
  line-height: 32px;
  height: 32px;
  margin-left: 15px;
  color: #1890ff;
  display: inline;
  cursor: pointer;
}

.table-action {
  color: #1890ff;
  margin-right: 12px;
  display: inline;
  cursor: pointer;
}

.list-form {
  .ant-form-item {
    font-size: 12px;
    div, a, span, label, input {
      font-size: 12px;
    }
  }
}
.list-table {
  font-size: 12px;
  tr, th, td {
    font-size: 12px;
  }
}

.ant-pagination {
  font-size: 12px;
  ul {
    li {
      font-size: 12px;
      div {
        font-size: 12px;
      }
    }
  }
  .ant-select-selection-selected-value {
    font-size: 12px;
  }
}

.action-pop-card {
  .ant-popover-message-title {
    padding-left:  0;
  }
  .ant-popover-buttons {
    display: none;
  }
}

.pop-content {
  width: 253px;
  height: 350px;
  font-size: 12px;
  .promotion-info {
    width: 100%;
    height: 268px;
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 5px;
    .activity-img {
      width: 100%;
      height: 180px;
      margin-bottom: 10px;
      background-color: #ccc;
    }
    .activety-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .main-info {
        width: 160px;
        display: flex;
        flex-direction: column;
        line-height: 16px;
        justify-content: inherit;
      } 
      .QR-code {
        width: 64px;
        height: 64px;
        background: #ccc;
      }
    }
  }
  .pop-bottom {
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;
    .action-btn {
      display: inline;
      color: #1890ff;
    }
  }
}